body {
  background-color: #13171f;
}

header {
  border-bottom: 1px solid #888;
}

#search:hover {
 background-color: #f8b525;
 transition: 450ms;
}

#search-input {
  background-color: #40474f;
  color: #f1f7ff;
}

#search-input::placeholder {
  color: #b1b7bf;
}

.heading {
  color: #f8b525;
  color: #f1f7ff;
}

.home-heading {
  margin-top: 3em;
}

.details-heading {
  margin: 1em 0 1em;
}

main {
  min-height: 80vh;
}

.card-text {
  color: #333;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
  color: #f8b525;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  /* Set a fixed height */
  overflow: hidden;
  /* Hide overflow content */
  text-overflow: ellipsis;
  /* Add ellipsis for long text */
  white-space: nowrap;
  /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.bg-custom {
  /*
  background-color: #d0d7df;
  */
  background-color: #33373f;
  color: #f1f7ff;
}

.bg-custom .list-item {
  font-size: 2rem;
  color: red;
}

.product-title:hover {
  color: #f8b525;
  transition: 250ms;
}

.card-title, .card-text {
  color: #f1f7ff;
}

.rating-text {
  color: #ccc;
}

.footer-bg {
  background-color: #23272f;
}